@charset "utf-8";
/* CSS Document */

.adminheader{
	background-color:#CCC;
	padding-top:5px;
	padding-bottom:5px;
}

.custom-input-group{
	padding-bottom:20px;
}

.divspacetop{
	padding-top:20px;
}

.breadcrumb-spacetop{
	margin:0px;
}